build/
*.egg-info
.eggs/
dist/
__pycache__/

.env
.venv/
venv/

data/
openpredict/data/features/openpredict-baseline-omim-drugbank.joblib
openpredict/data/models/openpredict-baseline-omim-drugbank.joblib
