/data

build/
*.egg-info
.eggs/
dist/
__pycache__/
.pytest_cache/
.coverage

.DS_Store

.env
.venv/
venv/

.ipynb_checkpoints/
.virtual_documents/
.cache/
.config/
.ipython/
.jupyter/
.local/
.npm/
.bash_history

docs/walks/
docs/neurodkg_embedding.csv
docs/neurodkg_embedding.json

.odo/odo-file-index.json

.odo
.idea/workspace.xml
