click==7.1.2
fastapi>=0.51.0
uvicorn[standard]>=0.12.0
gunicorn>=20.1.0
python-multipart
reasoner-pydantic>=1.2.0.4
joblib
numpy==1.16.1
scipy==1.5.4
# scipy==0.19.1
## Cannot update to numpy1.16.5 because it requires werkzeug>=2.0
# numpy==1.16.5
# werkzeug>=2.0
pandas==1.1.1
# pandas==1.2.4
cython
pyspark==3.1.3
findspark
scikit-learn==0.23.1
rdflib>=6.0.0,<7.0.0
SPARQLWrapper>=2.0.0,<3.0.0
networkx
gensim==3.8.3
requests
# networkx==1.11
# kgx
