---
---

@import "{{ site.theme }}";

// Make LeapDay blue/green
// Improve margins to take advantage of as much space as possible
// Try to use percents as much as possible to keep it responsive 

// Dark green for bold text and URLs hover
strong {
    color: #1b5e20;
}
// a:hover {
//     color: #1b5e20;
// } 

// Change banner color to mat green, and position to top
#banner {
    background: #81c784;
    border: 1px solid #81c784;
    top: 72px;
}

// Change Buttons background
#banner .fork {
    background-color: #a5d6a7;
}
#banner ul li a.button {
    background-color: #a5d6a7;
}
// Change "Downloads:" text color
#banner .downloads span {
    // color: #2e7d32; lighter green
    color: #1b5e20;
}

// View on GitHub Button border
#banner .button {
    border: 1px solid #66bb6a;
    color: #1b5e20;
}

// View on GitHub Button background when hover
#banner .button:hover {
    background-color: #66bb6a;
}

// Change header size
header {
    padding: 0px;
}
header h1 {
    font-size: 30px 
}
// Change margin top of main section, and set width to 100% of the parent
section {
    margin-top: 140px;
    width: 100%;
}
// Change top position and stick it 20px to the left
nav {
    top: 140px;
    width: 14%;
    left: 20px;
    margin-left: 0px;
}
// Remove padding from the navbar
nav ul {
    padding: 0px;
}

// Change body width (goes with section 100% width)
.wrapper {
    width: 65%;
}