---
---

@import "{{ site.theme }}";

// Change banner color to mat green, and position to top
#banner {
    background: #81c784;
    border: 1px solid #81c784;
    top: 72px;
}

// View on GitHub Button background
#banner .fork {
    background-color: #a5d6a7;
}

// View on GitHub Button border
#banner .button {
    border: 1px solid #66bb6a
}

// View on GitHub Button background when hover
#banner .button:hover {
    background-color: #66bb6a;
}

// Change header size
header {
    padding: 0px;
}
header h1 {
    font-size: 30px 
}
section {
    margin-top: 140px;
    width: 100%;
}
nav {
    top: 140px;
    width: 14%;
}

// Change body width
.wrapper {
    width: 60%;
}